<h4>Credit card information</h4>

<div *ngIf="applicationService.ready">

  <div *ngIf="!applicationService.billing.profile.card">
    <p>
      You do not have a credit card filled.
    </p>
    <button md-raised-button (click)="updateCreditCard()" [disabled]="applicationService.loading > 0">Add a credit card</button>
  </div>

  <div *ngIf="applicationService.billing.profile.card">
    <p>
      Your credit card is a <code>{{ applicationService.billing.profile.card.brand }}</code> brand
      ending in <code>{{ applicationService.billing.profile.card.last4 }}</code>
      and expires in 
      <code>{{ applicationService.billing.profile.card.exp_month }}/{{ applicationService.billing.profile.card.exp_year }}</code>.
    </p>
    <button md-raised-button (click)="updateCreditCard()" [disabled]="applicationService.loading > 0">Change credit card</button>
  </div>

</div>