<h4>redirect-list works!</h4>

<div *ngIf="applicationService.isReady | async" style="min-width: 600px">
  <ng-container *ngFor="let redirect of service.list">
    <div fxLayout="row">
      <div fxFlex="80">{{ redirect.targetProtocol }}://{{ redirect.targetHost }} - {{ redirect.hostSources }}</div>
      <div fxFlex>
        <button md-button (click)="openFromTo(redirect)">From-To</button>
      </div>
      <div fxFlex>
        <button md-button (click)="openForm(redirect)">edit</button>
      </div>
      <div fxFlex><button md-button (click)="delete(redirect)">delete</button></div>
    </div>
  </ng-container>
  <button md-button color="primary" md-raised-button (click)="openForm()">Add new redirect</button>
</div>