<div *ngIf="applicationService.isReady | async">
  <h4>Your redirects</h4>

  <ng-container *ngIf="service.list?.length">
    <md-card *ngFor="let redirect of service.list">
      <md-card-header class="margin-zero">
        <md-card-title>Target host: <strong>{{ redirect.targetProtocol }}://{{ redirect.targetHost }}</strong></md-card-title>
        <md-card-subtitle>Source hosts: 

          <ng-container *ngFor="let source of redirect.hostSources">
          {{ source }}
          </ng-container>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <table cellpadding="4">
        <tr>
          <th>Hostname</th>
          <th>TTL</th>
          <th>Type</th>
          <th>Destination</th>
        </tr>
        <tr *ngFor="let source of redirect.hostSources">
          <td>{{ source }}</td>
          <td>300</td>
          <td>{{ getRecordValues(source).type }}</td>
          <td>{{ getRecordValues(source).destination }}</td>
        </tr>
        </table>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="openFromTo(redirect)">Configure FROM TO</button>
        <button md-button (click)="openForm(redirect)">Edit Target/Sources</button>
        <button md-button (click)="delete(redirect)">Delete</button>
      </md-card-actions>
    </md-card>

    <button md-button color="primary" md-raised-button (click)="openForm()">Add new redirect</button>
  </ng-container>

  <ng-container *ngIf="!service.list?.length">
    <p>
      You do not have any redirect configured. Let's set up it.
    </p>
    <button md-button color="primary" md-raised-button (click)="openForm()">Add your first redirect</button>
  </ng-container>

</div>