<div class="loading-overlay">
    <md-progress-bar mode="indeterminate" *ngIf="applicationService.loading"></md-progress-bar>
</div>
<div class="header" fxLayoutAlign="center center">
  <div fxLayout="row" class="row">
    <div class="div-img" [routerLink]="['/']"><img src="/assets/logo-icon.png"></div>
    <div class="div-text" [routerLink]="['/']">RedirectPro</div>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <div class="inform">
      Help us test this alpha version and get 1 years free after the first stable release.<br />
      How to help? Just configure your domain and be happy. :)
    </div>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/account">
        <md-icon>account_box</md-icon>
        <span>Profile</span>
      </button>
      <button md-menu-item routerLink="/billing/plans">
        <md-icon>dehaze</md-icon>
        <span>Plans</span>
      </button>
      <button md-menu-item routerLink="/billing/credit-card">
        <md-icon>credit_card</md-icon>
        <span>Credit Card</span>
      </button>
      <button md-menu-item routerLink="/logout">
        <md-icon>cancel</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="min-height:300px;">
    <router-outlet></router-outlet>
  </div>
</div>

<a href="https://github.com/redirectpro"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>