<div class="loading-overlay" *ngIf="applicationService.loading">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<div>
</div>
<md-sidenav-container fullscreen class="containerX">
  <md-toolbar>
    <div fxLayout="row">
      <div class="div-img"><img src="http://static.dnnsharp.com/icons/couple35.png"></div>
      <div class="div-text">RedirectPro</div>
      <button md-button routerLink="/">Redirects</button>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item routerLink="/account">
          <md-icon>account_box</md-icon>
          <span>Profile</span>
        </button>
        <button md-menu-item routerLink="/billing/plans">
          <md-icon>dehaze</md-icon>
          <span>Plans</span>
        </button>
        <button md-menu-item routerLink="/billing/credit-card">
          <md-icon>credit_card</md-icon>
          <span>Credit Card</span>
        </button>
        <button md-menu-item routerLink="/logout">
          <md-icon>cancel</md-icon>
          <span>Logout</span>
        </button>
      </md-menu>
      <button md-button class="btn btn-primary btn-margin" disabled>{{ applicationService.id }}</button>
    </div>
  </md-toolbar>
  <div fxLayout="row">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="min-height:300px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-container>