<div class="loading-overlay">
    <md-progress-bar mode="indeterminate" *ngIf="applicationService.loading"></md-progress-bar>
</div>
<div class="header" fxLayoutAlign="center center">
  <div fxLayout="row" class="row">
    <div class="div-img" [routerLink]="['/']"><img src="/assets/logo-icon.png"></div>
    <div class="div-text" [routerLink]="['/']">RedirectPro</div>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/account">
        <md-icon>account_box</md-icon>
        <span>Profile</span>
      </button>
      <button md-menu-item routerLink="/billing/plans">
        <md-icon>dehaze</md-icon>
        <span>Plans</span>
      </button>
      <button md-menu-item routerLink="/billing/credit-card">
        <md-icon>credit_card</md-icon>
        <span>Credit Card</span>
      </button>
      <button md-menu-item routerLink="/logout">
        <md-icon>cancel</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" style="min-height:300px;">
    <router-outlet></router-outlet>
  </div>
</div>