<h4>redirect-form works!</h4>

<form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)" style="min-width: 500px">
  <p>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Your target host" name="hostTarget" [(ngModel)]="redirect.hostTarget" required />
      <md-error>Target host is a required field.</md-error>
    </md-input-container>
  </p>

  <p>
    <md-input-container class="example-full-width">
      <textarea mdInput placeholder="Your host sources" name="hostSources" [(ngModel)]="redirect.hostSources"></textarea>
      <md-hint>Separate hosts with comma.</md-hint>
    </md-input-container>
  </p>
  
  <p>
    <button color="primary" md-raised-button>Submit</button>
  </p>

  <div *ngIf="f">
    <pre>Is form valid?: <br>{{f.valid | json}}</pre>
    <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
    <pre>submitted value: <br>{{f.value | json}}</pre>
  </div>

</form>