<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
<h1 md-dialog-title>Dialog with elements</h1>
<div md-dialog-content>

    <p>
      <md-select placeholder="Protocol" formControlName="targetProtocol">
        <md-option value="http">http</md-option>
        <md-option value="https">https</md-option>
      </md-select>

      <md-input-container>
        <input mdInput placeholder="Your target host" formControlName="targetHost" />
        <md-error>Target host is a required field.</md-error>
      </md-input-container>
    </p>

    <div formArrayName="hostSources">
        <p *ngFor="let hostSource of myForm.controls.hostSources.controls; let i=index">
          <app-redirect-host-source [group]="myForm.controls.hostSources.controls[i]"></app-redirect-host-source>
          <button type="button" md-button color="primary" (click)="removeSourceHost(i)" *ngIf="myForm.controls.hostSources.controls.length > 1">Remove</button>
          <button type="button" md-button color="primary" (click)="addSourceHost()" *ngIf="myForm.controls.hostSources.controls.length == (i+1)">Add more</button>
        </p>
    </div>

    <!--<div class="margin-20">
      <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
      <pre>form value: <br>{{myForm.value | json}}</pre>
    </div>-->

  <!--<div *ngIf="redirect.id">
    <h2>Upload your redirect table</h2>
    <input type="file" id="file" name="file" (change)="fileChange($event)">
  </div>

  <div *ngIf="jobFailedReason">
    <h3>{{ jobFailedReason }}</h3>
  </div>

  <div *ngIf="jobId">
    <h2>Result</h2>

    <md-progress-bar
        [color]="primary"
        [mode]="determinate"
        [value]="jobProgress || 0">
    </md-progress-bar>
  </div>-->

</div>
<div md-dialog-actions>
  <button md-button md-dialog-close>Close</button>
  <button md-button color="primary" md-raised-button>Submit</button>
</div>
</form>
