<p>
  credit-cartd works!
</p>

<div *ngIf="!authService.userProfile.stripe.card">
  You doesn't have a credit card filled.
</div>

<div *ngIf="authService.userProfile.stripe.card">
  Your credit card is a <code>{{ authService.userProfile.stripe.card.brand }}</code> brand
  ending in <code>{{ authService.userProfile.stripe.card.last4 }}</code>
  and expires in 
  <code>{{ authService.userProfile.stripe.card.exp_month }}/{{ authService.userProfile.stripe.card.exp_year }}</code>.
  <br />
  <button md-button (click)="changeCreditCard()">Change</button>
</div>