/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #ecf0f1;
}

.loading-overlay {
    background-color: #f6f6f6;
    height: 5px;
}

.header {
    background-color: #f6f6f6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
    padding-bottom: 4px;
}

.div-img {
  float: left;
  padding-top: 5px;
  padding-left: 1px;
  padding-right: 6px;
  outline: 0;
  cursor: pointer;
  transform: rotate(6deg);
}

.div-img img {
  width: 24px;
}

.div-text {
  font-family: "Futura", "Helvetica";
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  padding-right: 10px;
  outline: 0;
  cursor: pointer;
}

.mat-card-header-text {
  margin: 0px !important;
}

.mat-card-actions { 
  padding-top: 0px !important;
}

.mat-card { 
  margin-bottom: 22px !important;
}

.header div.row { min-width: 768px; }

.full-width { width: 100%; }

app-redirect-list, app-plan, app-billing-credit-card { width: 768px; }
app-redirect-form .mat-dialog-content { margin-top: -15px; }
md-dialog-container { max-width: 575px !important; }
md-dialog-container.app-redirect-form { width: 575px !important; }
md-dialog-container.app-redirect-from-to { width: 575px !important; min-height: 400px !important; }
md-select { margin-top: -4px; }

div.mat-dialog-actions { float: right; }
div.mat-dialog-actions-fixed {
  position: fixed;
  width: 90.6%;
  bottom: 24px;
  border-top: 1px solid #999;
}
div.mat-dialog-actions-fixed button { margin-right: 10px !important; }

button[md-dialog-close], .md-dialog-close { margin-right: 10px !important; }
th { text-align: left; }

.ng2-smart-action-add-create {
  color: green !important;
}

.ng2-smart-action-add-cancel {
  color: silver !important;
}

div.inform {
  text-align: center;
  background-color: #f2dede;
  border: 1px solid #a94442;
  color: #a94442;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  font-size: 13px;
  line-height: 18px;
}